/*
( B | E | M )
 - Properties...........block properties only.
 - Elements.............children of block.
 - Modifiers............modify the aspect of Element or Block.
 - States...............hover, focus, active or class for temporary state (js manips).
 - Anims................keyframes.
 - Patches..............quick fixes.

   https://en.bem.info/methodology/css/
*/
.album-view {
  /*------------------------------------*\
    #PROPS
  \*------------------------------------*/
  @media (max-width: 767.98px) {
    &__container {
      max-width: 100% !important;
    }
  }

  &__placeholder {
    background-size: 200% !important;
    background-repeat: no-repeat;
    background: linear-gradient(
      90deg,
      #ffffff 0%,
      #ffffff 40%,
      #e9ecef 50%,
      #ffffff 60%,
      #ffffff 100%
    );
    padding-bottom: 100%;
    -webkit-animation: animatePlaceholderBg 3s linear infinite;
    -moz-animation: animatePlaceholderBg 3s linear infinite;
    animation: animatePlaceholderBg 3s linear infinite;
  }

  /*------------------------------------*\
    #ELEMS
  \*------------------------------------*/
  /*------------------------------------*\
    #MODIFIERS
  \*------------------------------------*/
  /*------------------------------------*\
    #STATES
  \*------------------------------------*/
  /*------------------------------------*\
    #ANIMS
  \*------------------------------------*/

  @-webkit-keyframes animatePlaceholderBg {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: -400%;
    }
  }
  @-moz-keyframes animatePlaceholderBg {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: -400%;
    }
  }
  @keyframes animatePlaceholderBg {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: -400%;
    }
  }

  /*------------------------------------*\
    #PATCHES
  \*------------------------------------*/
}
