$modal-metadata-color: rgb(209, 205, 198);
$modal-metadata-background-color: rgb(24, 26, 27);
$modal-nav-color: rgb(255, 255, 255);
$modal-nav-highlighted-color: #424242;
$modal-nav-disabled-color: rgb(209, 205, 198);