/*
( B | E | M )
 - Properties...........block properties only.
 - Elements.............children of block.
 - Modifiers............modify the aspect of Element or Block.
 - States...............hover, focus, active or class for temporary state (js manips).
 - Anims................keyframes.
 - Patches..............quick fixes.

   https://en.bem.info/methodology/css/
*/
.album-image-modal-metadata {
  /*------------------------------------*\
    #PROPS
  \*------------------------------------*/
  &__container {
    align-self: right;
    flex: 0 0 200px;
    margin: 0;
    padding: 20px 30px;
    color: $modal-metadata-color;
    background-color: $modal-metadata-background-color;

    opacity: 1;
    transition: all 0.5s ease;
  }

  &__container-spinner {
    margin-bottom: 10px;
  }

  &__container-contents {
    text-align: left;
  }

  &__container-element {
    margin-bottom: 30px;
  }

  &__wrapper-enter {
    opacity: 0;
    flex: 0 0 0px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    white-space: nowrap;
  }

  &__wrapper-enter-to {
    overflow: hidden;
    white-space: nowrap;
  }

  &__wrapper-leave-to {
    opacity: 0;
    flex: 0 0 0px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  /*------------------------------------*\
    #ELEMS
  \*------------------------------------*/
  /*------------------------------------*\
    #MODIFIERS
  \*------------------------------------*/
  /*------------------------------------*\
    #STATES
  \*------------------------------------*/
  /*------------------------------------*\
    #ANIMS
  \*------------------------------------*/
  /*------------------------------------*\
    #PATCHES
  \*------------------------------------*/
}