/*
( B | E | M )
 - Properties...........block properties only.
 - Elements.............children of block.
 - Modifiers............modify the aspect of Element or Block.
 - States...............hover, focus, active or class for temporary state (js manips).
 - Anims................keyframes.
 - Patches..............quick fixes.

   https://en.bem.info/methodology/css/
*/
.album-image {
  /*------------------------------------*\
    #PROPS
  \*------------------------------------*/
  &__header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__holder {
    overflow: hidden;
  }

  &__holder img {
    transition: transform .25s ease;
  }

  &__holder:hover img {
    cursor: pointer;
    transform: scale(1.25);
  }

  /*------------------------------------*\
    #ELEMS
  \*------------------------------------*/
  /*------------------------------------*\
    #MODIFIERS
  \*------------------------------------*/
  /*------------------------------------*\
    #STATES
  \*------------------------------------*/
  /*------------------------------------*\
    #ANIMS
  \*------------------------------------*/
  /*------------------------------------*\
    #PATCHES
  \*------------------------------------*/
}
