/*
( B | E | M )
 - Properties...........block properties only.
 - Elements.............children of block.
 - Modifiers............modify the aspect of Element or Block.
 - States...............hover, focus, active or class for temporary state (js manips).
 - Anims................keyframes.
 - Patches..............quick fixes.

   https://en.bem.info/methodology/css/
*/
.navbar {
  &__nav {
    a {
      color: $nav-color;

      &.router-link-exact-active {
        color: $nav-selected-color;
      }
    }
  }

  /*------------------------------------*\
    #PROPS
  \*------------------------------------*/

  /*------------------------------------*\
    #ELEMS
  \*------------------------------------*/
  /*------------------------------------*\
    #MODIFIERS
  \*------------------------------------*/

  @media (max-width: 575.98px) {
    &__header h1 {
      font-size: 24px;
    }
  }

  /*------------------------------------*\
    #STATES
  \*------------------------------------*/
  /*------------------------------------*\
    #ANIMS
  \*------------------------------------*/
  /*------------------------------------*\
    #PATCHES
  \*------------------------------------*/
}
